/* Alap kosár konténer */
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-banner img {
  width: 100vw;
  /* nézetablak teljes szélessége */
  height: auto;
  display: block;
  /* eltünteti a felesleges hézagokat */
}

.cart .empty-cart-message {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10rem;
}

.cart h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ca7505
}

/* Kosár tételek listája */
.cart ul {
  list-style-type: none;
  padding: 0;
}
/* Kosár tételek stílusa */
.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 0;
}
/* Kosár tételek részletei */
.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.item-details h3 {
  margin: 0 0 5px 0;
  color: #4a4a4a;
  font-size: 1.3rem;
}

.item-details p {
  margin-top: 10px;
  color: #666;
  font-weight: bold;
}
/* Kosár tételek árának stílusa */
.quantity-btn {
  width: 35px;
  height: 35px;
}
/* Kosár tételek mennyiségének növelése/csökkentése gombok */
.quantity-btn:hover:not(:disabled) {
  background-color: #d32f2f;
}
/* Kosár tételek mennyiségének növelése/csökkentése gombok alap stílusa */
.quantity-btn:active:not(:disabled) {
  background-color: #d0d0d0;
}

.quantity-display {
  font-weight: bold;
  margin: 0 10px 0 10px;
}

/* Eltávolítás gomb */
.item-details button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.item-details button:hover {
  background-color: #d32f2f;
}

/* Teljes ár megjelenítése */
.cart-total {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Rendelési űrlap */
.order-form {
  margin: 20px;
  width: 100%;
  max-width: 320px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.order-form h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #ca7505;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.order-form button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 auto;
  display: block;
}

.order-form button[type="submit"]:hover {
  background-color: #45a049;
}

/* Rendelés visszaigazolása */
.order-confirmation {
  background-color: #f9f9f9;
  border: 1px solid #4caf50;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  margin: 3rem;
}

.order-confirmation h2::before {
  content: "✅";
  margin-right: 10px;
}

.order-confirmation h2 {
  font-size: 1.8rem;
  color: #4caf50;
  /* Zöld szín a siker jelzésére */
}

.order-confirmation p {
  font-size: 1.1rem;
  color: #4a4a4a;
  font-weight: bold;
}

.order-confirmation ul {
  text-align: left;
}

.order-confirmation li {
  margin-bottom: 10px;
  color: #666;
}

.order-confirmation ul li span {
  font-weight: bold;
}

@media (max-width: 576px) {
  .cart h2 {
    font-size: 1.6rem;
  }

  .order-confirmation {
    width: 82%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .order-confirmation h2 {
    font-size: 1.5rem;
  }
}