.product-page {
  text-align: center;
}

.banner {
  position: relative;
  color: #25cacf;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.banner-text h1 {
  font-size: 3.5rem;
}

.section-title {
    font-size: 2rem;
    margin-top: 20px;
}

.sort-options {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sort-options label {
  font-weight: bold;
  margin-right: 10px;
}

.sort-options select {
  padding: 5px;
  font-size: 16px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Pontosan 4 oszlop */
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;  
}

.product-card:hover {
  transform: translateY(-6px);  /* Felfelé emelés */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 14rem;
  height: 14rem;
  margin-bottom: 10px;
  object-fit: contain;  /* A kép teljes tartalma látszik, de lehet üres hely a keretben. */
}

.product-card h2 {
  font-size: 1.2rem;
  margin: 40px 0;
}

.product-card p {
  color: #555;
  font-weight: bold;
}


/* Media Queries */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);    /* 2 oszlop tableten */
  }
}


@media (max-width: 576px) {
  .product-card img {
    width: 10rem;
    height: 10rem;
  }

 .product-page h1 {
    font-size: 1.8rem;
    margin: 20px 0;
  }

  .product-card h2 {
    font-size: 1rem;
    margin: 40px 0;
  }

  .product-page .section-title {
    font-size: 1.4rem;
  }
}