.footer-pulsesound {
  background-color: #2c3e50;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center; /* Center the content vertically */
}

.footer-logo {
  max-width: 150px;
  height: auto;
}

.footer-links-container {
  display: flex;
  justify-content: center; /* Center the links */
  flex-grow: 1;
  margin-right: 6rem;
}

.footer-links {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 25px;
}

.footer-credits {
  text-align: center;
  margin-top: 5px;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #bdc3c7; /* Lighter text color for better contrast */
}

/* Telefonok (576px) */
@media (max-width: 576px) {
  .footer-content {
    flex-direction: column; /* Stack content vertically */
  }
  
  .footer-links-container {
    margin-right: 0; /* Remove right margin */
  }
  
  .footer-links {
    flex-direction: column; /* Stack links vertically */
    align-items: center; /* Center links */
    gap: 14px;
  }

  .footer-links li {
  font-size: 13px;
  }
  
  footer p {
  margin-top: 14px;
  font-size: 12px;
  }
}