/* Keresősáv */
.search-bar {
  position: absolute;
  right: 9rem;
  display: flex;
  align-items: center;
  width: 300px;
  top: 40%;
}

.search-bar input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  padding: 0.5rem;
  border: none;
  background-color: #bac0be;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.search-bar button:hover {
  background-color: #999b9a;
}

/* Automatikus keresési javaslatok */
.search-suggestions {
  position: absolute;
  top: 75%;
  right: 5%;
  width: 20%;
  max-width: 400px;
  max-height: 200px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add shadow for depth */
}

.search-suggestions li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
  font-size: 0.9em;
  /* Slightly smaller text for better readability */
}

.search-suggestions li:hover {
  background-color: #f0f0f0;
  color: #333;
  /* Darker text on hover for contrast */
}

.search-suggestions li:not(:last-child) {
  border-bottom: 1px solid #eee;
  /* Light divider between suggestions */
}

/* Navigációs sáv konténer */
.navbar {
  display: flex;
  background-color: rgb(230, 230, 230);
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
  z-index: 1000;
}

/* Navigációs sáv linkek */
.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.nav-links.visible {
  display: flex;
  /*background-color: #9f2ccc;*/
}

.nav-links li {
  margin: 0rem 2rem;

}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;

}

.nav-links a:hover {
  color: #9f2ccc;
}

.nav-links a.active {
  color: #9f2ccc;
}

/* Logó */
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: 140px;
  height: auto;
  max-width: 100%;
}

/* Ikon konténer */
.icon-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  right: 2rem;
  top: 40%;
}

/* Ikonok stílusozása */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  color: black;
}

.icon:hover {
  color: #9f2ccc;
}

.user-icon svg,
.cart-icon svg {
  width: 35px;
  height: 35px;
}

/* Menü ikon (hamburger) */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-top: 0.4rem;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.5s;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Tabletek (481px - 768px) */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    margin-top: 4.5rem;
    position: absolute;
    left: 50%;
  }

  .navbar.open .menu-icon .bar:nth-child(2) {
    transform: rotate(-55deg) translate(5px, 4px);
  }

  .navbar.open .menu-icon .bar:nth-child(3) {
    transform: rotate(55deg) translate(-14px, -2px);
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(155, 155, 155));
    padding: 0.5rem 1rem;
  }

  .nav-links.visible {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .search-bar {
    width: 45%;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 100px;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .nav-links li {
    margin: 0rem 1rem;
    margin-top: 1rem;
  }

  .nav-links a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .nav-links.visible {
    background-color: rgb(119, 223, 255);
  }
}